<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>BEPAID_INPUT</title>
</head>
<body>
<form method="GET" action="https//:8080/api/input/payment/BepaidMoney/USD" accept-charset="utf-8">
    <!--<ul>-->
        <!--<input type="text" name="currency" placeholder="currency : " value=""/>-->
    <!--</ul>-->
    <ul>
        <input type="text" name="paymentId" placeholder="paymentId : " value=""/>
    </ul>
    <ul>
        <input type="text" name="amount" placeholder="amount : " value=""/>
    </ul>
    <ul>
        <input type="text" name="userId" placeholder="userId : " value=""/>
    </ul>
    <ul>
        <input type="submit"/>
    </ul>
</form>
</body>
</html>