<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
</head>
<body>
<form method="POST" action="https://www.liqpay.ua/api/3/checkout"
      accept-charset="utf-8">
    <input type="hidden" name="data" value="eyJwdWJsaWNfa2V5IjoiaTc3NDAzNTQ3NjY1IiwiYW1vdW50IjoiMSIsImFjdGlvbiI6InBheSIsImRlc2NyaXB0aW9uIjoiZGVzY3JpcHRpb24gdGV4dCIsImN1cnJlbmN5IjoiVVNEIiwic2VydmVyX3VybCI6Imh0dHA6XC9cL210YmFuay5leC1jcnlwdG8ubWU6OTAwMFwvYXBpXC9pbnB1dFwvcGF5bWVudFwvTGlxUGF5Iiwib3JkZXJfaWQiOiJvcmRlcl9pZF83IiwidmVyc2lvbiI6IjMifQ=="/>
    <input type="hidden" name="signature" value="ujwPWmhKsQ5NFLpnh4hIvJ1AVMk="/>
    <input type="image"
           src="//static.liqpay.ua/buttons/p1ru.radius.png"/>
</form>

</body>
</html>