<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
</head>
<body>
<form method="POST" action="https://www.liqpay.ua/api/3/checkout"
      accept-charset="utf-8">
    <input type="hidden" name="data" value="eyJwdWJsaWNfa2V5IjoiaTc3NDAzNTQ3NjY1IiwiYW1vdW50IjoiMSIsInNhbmRib3giOiIxIiwiYWN0aW9uIjoicGF5IiwiZGVzY3JpcHRpb24iOiJkZXNjcmlwdGlvbiB0ZXh0IiwiY3VycmVuY3kiOiJVU0QiLCJzZXJ2ZXJfdXJsIjoiaHR0cDpcL1wvbXRiYW5rLmV4LWNyeXB0by5tZTo5MDAwXC9hcGlcL2lucHV0XC9wYXltZW50XC9MaXlQYXkiLCJvcmRlcl9pZCI6Im9yZGVyX2lkXzExIiwidmVyc2lvbiI6IjMifQ=="/>
    <input type="hidden" name="signature" value="lQPIlSIJPY4QZuHy4zQu1g6MgtY="/>
    <input type="image"
           src="//static.liqpay.ua/buttons/p1ru.radius.png"/>
</form>

</body>
</html>